body {
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  position: relative;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  cursor: pointer;
}



.detel a {
  background: #5d9943;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}



.aboutus {
  position: absolute;
  left: 750px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1%;
  
}

.contactus {
  position: absolute;
  left: 900px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  margin-top: 1%;
  
}

.login {
  position: absolute;
  left: 1350px;
  margin-top: 1%;
}

.container2 {
  margin-top: 50px;
  text-align: center;
}

.para1 {
  margin-top: 20px;
  font-size: 19px;
}

.search-icon {
  position: absolute;
  margin-top: 1%;
  margin-left: 5%;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}





.footer {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 2000px;
  padding: 50px;
}

.footer .footer_menu {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.footer .footer_menu .title {
  margin-bottom: 10px;
  color: #110e0e;
}

.footer .footer_menu ul li a {
  display: block;
  margin-bottom: 6px;
  color: #000000;
}

.footer .footer_menu ul li a:hover {
  text-decoration: underline;
}

.footer .partners {
  margin-bottom: 25px;
}

.footer .partners ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .partners li a {
  background: url('https://i.imgur.com/VP4t37b.png') no-repeat 0 0;
  width: 101px;
  height: 100px;
  display: block;
  margin: 0 5px;
}

.footer .partners li a.partner1 {
  background-position: 0 0;
  width: 100px;
  height: 100px;
}

.footer .partners li a.partner2 {
  background-position: 0 -108px;
  width: 100px;
  height: 101px;
}

.footer .partners li a.partner3 {
  background-position: 0 -216px;
  width: 100px;
  height: 101px;
}

.footer .partners li a.partner4 {
  background-position: 0 -325px;
  width: 100px;
  height: 101px;
}

.footer .partners li a.partner5 {
  background-position: 0 -446px;
  width: 100px;
  height: 100px;
}



@media (max-width:768px) {
  .wrapper .navbar .logo {
      font-size: 20px;
  }

  .main_container {
      padding: 25px;
  }

  .main_container .item {
      flex-direction: column;
  }

  .main_container .item .img_holder {
      max-width: 750px;
      width: 100%;
  }

  .main_container .item .item_info {
      margin-left: 0;
      width: 100%;
      margin-top: 10px;
      text-align: center;
  }

  .footer .footer_menu {
      flex-direction: column;
      width: 220px;
      margin: 0 auto 25px;
  }

  .footer .footer_menu>div {
      margin: 10px 0;
  }

  .footer .partners ul li a {
      margin: 5px;
  }
}

.container3 {
  margin-top: 455px;
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fdfafa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #0a0a0a;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.hero {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }

  .sidebar a {
      font-size: 18px;
  }
}

.sidebar-toggle {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-top: 10%;
}

.container3recipes {
  margin-top: 5%;
}

.container4 {
  margin-top: 15%;
  text-align: center;

}

.aboutuscontent {
  margin-top: 1%;
  text-align: center;
}



